.navbar {
  $timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  $nav-width-desktop: 40em;
  $nav-width-mobile: 25em;
  $nav-item-nb: 6;

  width: 100%;

  // margin-right: calc(100vw - 100%);
  // margin-right: 0;
  height: 3rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &__icon {
    margin: 1rem;
    width: 2.5rem;
    height: 2rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__content {
    // margin-top: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__logo {
    margin-top: 2rem;
    width: 90px;
    height: 90px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    // height: 9rem;
  }
  &__tag {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 600;
  }
  &__section {
    margin: 1.5rem;
    font-weight: 600;
    font-size: 1.5rem;
  }
  &__menu {
    position: absolute;
    height: 100vh;
    background-color: white;
    // box-shadow: 0 0.5rem 0.5rem black;
    padding: 0.8rem 1.5rem;
    transition: all 0.5s;
    top: 0;
    margin-left: -25rem;
    z-index: 99;
    left: 0;
    // box-shadow: 0 0.1rem 0.1rem rgb(70, 69, 69);
    border-radius: 10px;
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;

    tras & > ul {
      font-size: 0.8rem;
    }
    & &options {
      display: flex;
      gap: 1rem;
      align-items: center;
      padding: 10px 0;
      font-size: 1.2rem;
      opacity: 1;
      font-weight: 500;
      transition: all 0.5s;

      &-icon {
        width: 2rem;
        height: 2rem;
      }
    }
  }
  &__menu.active {
    margin-left: 0;

    & .navbar__menuoptions {
      // opacity: 1;
    }
  }
  &__input {
    position: fixed;
    opacity: 0;

    &:focus + &__label {
      .navbar__label:hover {
        opacity: 0.75;
      }
    }
  }
  &__links {
    letter-spacing: 8px;
    color: rgb(4, 0, 0);
    font-size: 32px;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
      transform: scale(1.2);
    }
  }
  &__label {
    position: absolute;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    &::before {
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.5s $timing-function;
    }
    .burger {
      position: fixed;
      top: 1em;
      left: 1em;
      z-index: 53;
      width: 2rem;
      height: 1.5rem;
      margin: 0;
      padding: 0;
      transition: opacity 0.5s $timing-function;
      &::before,
      .bar,
      &::after {
        position: absolute;
        left: 0;
        display: block;
        width: 100%;
        height: 8%;
        background: rgb(0, 0, 0);
        content: "";
        transition: all 0.5s $timing-function;
      }
      .bar {
        top: 44%;
      }
      &::before {
        top: 0;
        transform-origin: top left;
      }
      &::after {
        bottom: 0;
        transform-origin: bottom left;
      }
    }
  }
  &__nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    // transform: translate3d(0, 0, 0); /* material acceleration */
    // transform: translateX(-100%);
    will-change: transform;
    transition: transform 0.5s $timing-function;
    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      width: $nav-width-mobile;
      background: #ffffff;
      content: "";
      transform: skewX(0deg) translateX(-100%);

      // transform-origin: bottom left;
      // will-change: transform;

      transition: transform 0.5s $timing-function;
      @media (min-width: 40em) {
        width: $nav-width-desktop;
      }
    }
    & .navbar__links {
      margin: 0.5em 0;
      padding: 0.2em 2em;
      font-size: 1.6em;
      color: rgb(0, 0, 0);
      text-decoration: none;
      font-weight: 100;
      transform: translateX(-100%);
      transition: color 0.15s, transform 0.5s;
      transition-timing-function: $timing-function;
      @for $i from 1 through $nav-item-nb {
        &:nth-child(#{$i}) {
          transition-delay: 0s, #{50 + (50 * $i)}ms;
        }
      }
      &:hover,
      &:focus {
        color: black;
      }
    }
  }
  &__links {
    opacity: 0;
    &:hover {
      font-weight: 600;
    }
  }
  // [id="navcheck"]:checked {
  //   .navbar__nav {
  //     z-index: 0;
  //   }
  // }
  [id="navcheck"]:not(:checked) {
    .navbar__nav {
      z-index: -11;
    }
  }
  [id="navcheck"]:checked {
    & + .navbar__label {
      &::before {
        opacity: 1;
        pointer-events: auto;
      }
      .burger {
        &::before,
        &::after {
          width: 141.42%; // Pythagore!
        }
        &::before {
          transform: rotate(45deg) translateY(0%);
        }
        &::after {
          transform: rotate(-45deg) translateY(0%);
        }
        .bar {
          transform: scale(0.1);
        }
      }
    }
    & ~ .navbar__nav {
      transform: translateX(0);
      z-index: 51;
      &::before {
        transform: skewX(0deg) translateX(0);
        box-shadow: 0 0.1rem 1rem rgb(128, 128, 128);
      }
      .navbar__links {
        opacity: 1;
        transform: translateX(0);
      }
    }
    & ~ main .content {
      transform: translateX(3em);
      transform-origin: left center;
      filter: blur(2px);
    }
  }
  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}
