.navbar {
  $timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  $nav-width-desktop: 40em;
  $nav-width-mobile: 25em;
  $nav-item-nb: 6;

  width: 100%;

  // margin-right: calc(100vw - 100%);
  // margin-right: 0;
  height: 3rem;
  position: absolute;
  top: 0;
  background-color: transparent;
  z-index: 22;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // &__icon {
  //   margin: 1rem;
  //   width: 2.5rem;
  //   height: 2rem;
  //   cursor: pointer;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  // }
  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    column-gap: 2rem;
    &-links {
      color: white;
      font-weight: 600;

      text-decoration: none;
      cursor: pointer;
      text-transform: uppercase;
      position: relative;
      @media (max-width: 800px) {
        display: none;
      }
      &::after {
        position: absolute;
        left: -2px;
        bottom: -7px;
        content: "";
        width: 0;
        height: 3px;
        background-color: currentColor;
        transition: all 0.5s ease;
      }
      &::before {
        position: absolute;
        right: -2px;
        top: -7px;
        content: "";
        width: 0;
        height: 3px;
        background-color: currentColor;
        transition: all 0.5s ease;
      }
      &:hover::after,
      &:hover::before {
        width: calc(100% - 1rem);
      }
    }
  }

  &__logo {
    width: 300px;
    height: 300px;
    margin: 0 3rem;
  }

  &__input {
    position: fixed;
    opacity: 0;

    &:focus + &__label {
      .navbar__label:hover {
        opacity: 0.75;
      }
    }
  }
  &__links {
    letter-spacing: 8px;
    color: rgb(4, 0, 0);
    font-size: 32px;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
      transform: scale(1.2);
    }
  }
  &__label {
    position: absolute;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    &::before {
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.5s $timing-function;
    }
    .burger {
      position: fixed;
      top: 1em;
      left: 1em;
      z-index: 53;
      width: 2rem;
      height: 1.5rem;
      margin: 0;
      padding: 0;
      transition: opacity 0.5s $timing-function;
      display: none;
      @media (max-width: 800px) {
        display: block;
      }
      &::before,
      .bar,
      &::after {
        position: absolute;
        left: 0;
        display: block;
        width: 100%;
        height: 8%;
        background: rgb(0, 0, 0);
        content: "";
        transition: all 0.5s $timing-function;
      }
      .bar {
        top: 44%;
      }
      &::before {
        top: 0;
        transform-origin: top left;
      }
      &::after {
        bottom: 0;
        transform-origin: bottom left;
      }
    }
  }
  &__nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    // transform: translate3d(0, 0, 0); /* material acceleration */
    // transform: translateX(-100%);
    will-change: transform;
    transition: transform 0.5s $timing-function;
    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      width: $nav-width-mobile;
      background: #ffffff;
      content: "";
      transform: skewX(0deg) translateX(-100%);

      // transform-origin: bottom left;
      // will-change: transform;

      transition: transform 0.5s $timing-function;
      @media (min-width: 40em) {
        width: $nav-width-desktop;
      }
    }
    & .navbar__links {
      margin: 0.5em 0;
      padding: 0.2em 2em;
      font-size: 1.6em;
      color: rgb(0, 0, 0);
      text-decoration: none;
      font-weight: 100;
      transform: translateX(-100%);
      transition: color 0.15s, transform 0.5s;
      transition-timing-function: $timing-function;
      @for $i from 1 through $nav-item-nb {
        &:nth-child(#{$i}) {
          transition-delay: 0s, #{50 + (50 * $i)}ms;
        }
      }
      &:hover,
      &:focus {
        color: black;
      }
    }
  }
  &__links {
    opacity: 0;
    &:hover {
      font-weight: 600;
    }
  }
  // [id="navcheck"]:checked {
  //   .navbar__nav {
  //     z-index: 0;
  //   }
  // }
  [id="navcheck"]:not(:checked) {
    .navbar__nav {
      z-index: -11;
    }
  }
  [id="navcheck"]:checked {
    & + .navbar__label {
      &::before {
        opacity: 1;
        pointer-events: auto;
      }
      .burger {
        &::before,
        &::after {
          width: 141.42%; // Pythagore!
        }
        &::before {
          transform: rotate(45deg) translateY(0%);
        }
        &::after {
          transform: rotate(-45deg) translateY(0%);
        }
        .bar {
          transform: scale(0.1);
        }
      }
    }
    & ~ .navbar__nav {
      transform: translateX(0);
      z-index: 51;
      &::before {
        transform: skewX(0deg) translateX(0);
        box-shadow: 0 0.1rem 1rem rgb(128, 128, 128);
      }
      .navbar__links {
        opacity: 1;
        transform: translateX(0);
      }
    }
    & ~ main .content {
      transform: translateX(3em);
      transform-origin: left center;
      filter: blur(2px);
    }
  }
  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}
