.memorycard {
  display: flex;
  padding: 1rem;
  @media (min-width: 40rem) {
    width: 50%;
  }

  @media (min-width: 56em) {
    width: 50%;
  }
  @media (min-width: 90rem) {
    width: 50%;
  }
  @media (min-width: 150em) {
    width: 25%;
  }
  &__fig {
    position: relative;
    border-radius: 10px;
    height: 30rem;
    overflow: hidden;
    @media (min-width: 56em) {
      width: 100%;
    }
    @media (min-width: 90rem) {
      width: 100%;
    }
    @media (min-width: 106em) {
      width: 100%;
    }
    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
