.home {
  position: relative;
  .quote {
    color: rgba($color: #000000, $alpha: 0.5);
    font-weight: 400;
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    top: 10rem;
    text-align: center;
    z-index: 55;
    color: rgb(4, 0, 0);
    font-size: 32px;
    font-family: "Bad Script", cursive;
    text-transform: capitalize;
    q {
      color: rgb(255, 255, 255);
      font-size: 32px;
      font-weight: 800;
      margin: 0;
      padding: 0;

      @media (max-width: 37.5em) {
        &::after,
        &::before {
          content: "";
        }
        font-size: 1rem;
        line-height: 0;
        text-align: center;
      }
    }
  }
}
