.about {
  width: min(100% - 2rem, 1440px);
  margin-inline: auto;
  & > div {
    display: flex;
    gap: 6rem;
    align-items: center;
    // max-width: 1400px;
    margin-inline: auto;
    // flex-wrap: wrap;
    @media (min-width: 20em) {
      flex-wrap: wrap;
      gap: 4rem;

      margin: 8rem 1rem 4rem 1rem;
      justify-content: center;
      align-items: center;
    }
    @media (min-width: 56em) {
      flex-wrap: nowrap;
      gap: 4rem;
      margin: 12rem 1rem 4rem 1rem;
      justify-content: center;
    }
    @media (min-width: 77em) {
      margin: 12rem 10rem 4rem 10rem;
    }
  }

  &_details {
    &__sec1 {
      font-size: 1rem;
      // margin-bottom: 1rem;
    }
    &__sec2 {
      font-size: 2rem;
    }
    &__sec3 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      & > span {
        animation: loop-color 3s infinite;
        color: $primary;
      }
    }
    &__sec4 {
      display: inline-flex;
      font-size: 1.5rem;
      margin-bottom: 20px;

      // border-right: 4px solid black;
      // animation: __blinkcaret 500ms step-end infinite alternate;
      text-align: justify;
    }
    &__sec5 {
      font-size: 1rem;
      text-align: justify;
      &::first-letter {
        text-transform: capitalize;
      }
    }
  }
  &__picture {
    width: 45%;
    height: 20rem;
    display: flex;
    justify-content: center;
    @media (min-width: 20em) {
      width: 100%;
    }
    @media (min-width: 37.5em) {
      height: 20rem;
    }
    @media (min-width: 56em) {
      height: 20rem;
      // width: auto;
    }
    &__cont {
      // width: 20rem;
      height: 100%;

      // overflow: hidden;
      // @media (min-width: 56em) {
      //   height: auto;
      //   width: auto;
      // }
      @media (min-width: 20em) {
      }
      @media (min-width: 37.5em) {
        height: 20rem;
      }
      @media (min-width: 56em) {
        // height: 20rem;
        // width: auto;
      }
      & > img {
        width: auto;
        height: 25em;
        object-fit: cover;
        // border-radius: 50%;
      }
    }
  }
}

@keyframes loop-color {
  0% {
    color: $primary;
  }
  50% {
    color: rgba($color: $primary, $alpha: 0.5);
  }
  100% {
    color: red;
  }
}
@keyframes __blinkcaret {
  50% {
    border-color: transparent;
  }
}
