.films {
  &__video {
    top: 0;
    /* margin-top: -20px; */
    position: relative;
    z-index: -1;

    #myVideo {
      @media (min-width: 300px) {
        /* height: 500px; */
        margin-top: 100px;
      }

      @media (min-width: 600px) {
        height: 700px;
      }

      @media (min-width: 1100px) {
        width: 90%;
        height: auto;
        margin-inline: auto;
      }
    }
  }

  &__logo {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f7e7ca55;
    z-index: 2;

    @media (min-width: 300px) {
      width: 250px;
      height: 250px;
      top: 60%;

      img {
        width: 200px;
        transform: translate(-70%, -50%);
        object-fit: contain;
      }
    }

    @media (min-width: 600px) {
      width: 300px;
      height: 300px;
      top: 50%;
      img {
        width: 250px;
        transform: translate(-70%, -50%);
        object-fit: contain;
      }
    }

    @media (min-width: 1100px) {
      width: 500px;
      height: 500px;

      img {
        width: 350px;
        transform: translate(-70%, -50%);
        object-fit: contain;
      }
    }

    img {
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
    }
  }
  &__heading {
    width: 100vw;
    text-align: start;

    &--desc {
      margin-top: 20px;
      font-size: 18px;
      font-weight: 300;
      line-height: 28px;
    }

    h4 {
      font-size: inherit;
      font-weight: 200;
      color: #2e2e2e;
      line-height: 88px;
    }

    @media (min-width: 300px) {
      font-size: 2rem;
      padding: 10px 30px;

      h4 {
        line-height: 50px;
      }
    }

    @media (min-width: 600px) {
      font-size: 3rem;
      padding: 80px 50px;
      h4 {
        line-height: 60px;
      }
    }
    @media (min-width: 1100px) {
      font-size: 4rem;
      padding: 120px 50px;

      h4 {
        line-height: 80px;
      }
    }

    &--underline {
      width: 200px;
      height: 6px;
      margin-left: 10px;
      background-color: bisque;
      border-radius: 12px;
    }
  }

  &__carousel {
    height: 700px;
    overflow: hidden;
    margin-inline: 100px;
    @media (min-width: 300px) {
      margin-inline: 20px;
      height: 400px;
    }

    @media (min-width: 600px) {
      margin-inline: 20px;
      height: 600px;
    }

    @media (min-width: 1100px) {
      margin-inline: 100px;
      height: 700px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 50px;

    &-indicator {
      font-size: 1.4rem;
      color: #00000094;
    }

    &-right,
    &-left {
      background-color: transparent;
      outline: 1px solid rgb(124, 124, 124);
      border: none;
      border-radius: 50%;
      outline-offset: 5px;

      img {
        width: 40px;
      }
    }
  }
  &__vid {
    &_items {
      width: 50vw;
      height: 500px;
      border-radius: 24px;
      overflow: hidden;
      outline: 1px solid bisque;
      outline-offset: 5px;

      @media (min-width: 300px) {
        width: 80vw;
        height: 300px;
      }

      @media (min-width: 600px) {
        height: 400px;
        width: 78vw;
      }

      @media (min-width: 1100px) {
        width: 60vw;
        height: 500px;
      }
      @media (min-width: 1800px) {
        width: 50vw;
        height: 700px;
      }
    }
  }
}
