@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Great+Vibes&family=Sacramento&family=Tangerine:wght@700&display=swap");
.memories {
  margin-top: 4rem;
  overflow: auto;
  &__heading {
    margin-top: 8rem;
    font-size: 8rem;
    text-align: center;
    // letter-spacing: 30px;
    color: $primary;
    margin-bottom: 2rem;
    // font-family: "Great Vibes", cursive;
    // font-family: 'Great Vibes', cursive;
    // font-family: "Sacramento", cursive;
    // background: linear-gradient(90deg, #804b33 0%, #f0ceb1 104.72%);
    background: linear-gradient(
      to right,
      #ac663f 0%,
      27.470356225967407%,
      #c07246 54.940712451934814%,
      77.47035622596741%,
      #a7623d 100%
    );
    letter-spacing: 4px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    /* Gradient in Hex */

    font-family: "Tangerine", cursive;

    @media (max-width: 37.6em) {
      letter-spacing: 10px;
      font-size: 2rem;
    }
    & span {
      color: initial;
      font-size: 2rem;
      @media (max-width: 37.6em) {
        font-size: 1rem;
      }
    }
  }
  &__desc {
    font-size: 1.2rem;
    margin: 1.8rem;
    line-height: 1.6rem;
    // text-indent: 50px;

    text-align: center;
    text-justify: newspaper;
    margin-bottom: 4rem;
  }
  &__picturecont {
    // display: grid;
    // place-items: center;
  }
  &__picture {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    row-gap: 2rem;

    margin-bottom: 4rem;
    margin: 0;
    padding: 0;
    @media (max-width: 40em) {
      justify-content: center;
    }
  }
}

// .smemory {
//   margin-top: 10rem;
//   &__large {
//     width: 100vw;
//     height: 20rem;
//   }
// }
